.signup-header {
    font-weight: bold;
    font-size: 2rem;
}

.signup-pg-btns {
    width: 20%;
    margin: .5rem;
}

#signup-btn {
    margin-right: 1rem;
}

.signup-pg {
    display: flex;
    flex-direction: column;
}
