.login-header {
    font-weight: bold;
    font-size: 2rem;
}

#login-email,
#login-password {
    width: 50%;
    padding: .5rem;
    margin: .5rem;
}

.login-pg-btns {
    width: 20%;
    margin-top: .5rem;
    margin-left: .5rem;
}

#login-btn {
    margin-right: 1rem;
}

.login-pg {
    display: flex;
    flex-direction: column;
}

.togglePwdBtn {
    background: transparent;
    border: none
}

.togglePwdBtn:hover {
    background: transparent;
    border: none
}