:root {
  /* --main-font-family: 'Kaisei Opti', serif; */
  /* --main-font-family: 'Handlee', cursive; */
  --main-font-family: 'Montserrat', sans-serif;
  --logo-title-font-family: 'Oswald', sans-serif;
  --card-title-font-family: 'Oswald', sans-serif;
  --bg-color-light-green: #B8D0CB;
  --bg-color-dark-green: #4E7169;
  --bg-color-light-yellow: #F6F1E9;
  --bg-img-cardboard: url("./img/background-img.jpg");
  --color-deep-brown: #3B1E0E;
  --color-dark-brown: #7E7668;
  --color-medium-brown: #A39C95;

}

* {
  font-family: var(--main-font-family);
  /* color: var(--bg-color-dark-green); */
}

body {
  background-image: url("./img/background-img.jpg");
  /* background-color: var(--bg-color-light-green); */
  background-size: 75rem;
}

.farm-card {
  /* height: 21rem; */
  /* background-image: url("./img/background-img.jpg"); */
  background-size: 75rem;
  overflow: hidden;
  border-color: var(--bg-color-light-green);
}

.farm-img-container {
  overflow: hidden;
}

.farm-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  background-color: var(--bg-color-dark-green);
  border-color: var(--bg-color-dark-green);
  color: white;
  border-radius: 1.5rem;
}

.toggle-btn {
  color: white;
  background-color: var(--color-medium-brown);
  border-color: var(--color-medium-brown);
  font-weight: 500;
}

.card {
  background-size: 75rem;
  overflow: hidden;
  border: 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.card-title {
  font-family: var(--card-title-font-family);
  color: var(--bg-color-dark-green);
  font-weight: 700;
  font-size: 2rem;
  text-transform: capitalize;
}


.card-subtitle {
  font-family: var(--card-title-font-family);
  color: var(--bg-color-dark-green);
  text-transform: capitalize;
}

.card-text {
  color: var(--bg-color-dark-green);
  font-weight: 300;
}


.nav-item {
  font-family: var(--card-title-font-family);
  font-weight: 700;
  font-size: 0.9rem;
}

.navbar-brand {
  font-family: var(--logo-title-font-family);
  color: var(--bg-color-dark-green);
  font-weight: 700;
}

.veg-img {
  position: absolute;
  top: 60%;
  left: 1%;
  scale: 60%;
  opacity: 45%;
  transform: rotate(10deg) translate(-60%, -50%);
  transition: 0.25s ease-in-out;
}

/* .veg-img:hover {
  transform: rotate(15deg) translate(-65%, -50%) scale(1.1);
} */

p {
  line-height: 1.5;
}

.input-group input {
  border-radius: 1.5rem;
  border-color: var(--bg-color-dark-green);
}

.dashboard-card {
  background-color: white;
}

.dashboard-title h1 {
  font-family: var(--card-title-font-family);
  font-weight: 700;
  font-size: 4.5rem;
  text-transform: uppercase;
  color: var(--color-dark-brown);
}

.dashboard-title p {
  font-weight: 400;
  font-size: 1.25rem;
  text-transform: capitalize;
  color: var(--color-dark-brown);
}

.fa-icon {
  color: var(--bg-color-dark-green);
}

/* only show a single line of text on dashboard cards */
.dashboard-card p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.dashboard-card-btn {
  /* color: var(--bg-color-dark-green); */
  /* background-color: var(--bg-color-light-green);
  border-color: var(--bg-color-light-green); */
  font-weight: 400;
}

.profile-information {
  color: var(--color-dark-brown);
}

.profile-information h5 {
  font-family: var(--card-title-font-family);
}

.profile-title h1 {
  font-family: var(--card-title-font-family);
  font-weight: 700;
  font-size: 4.5rem;
  text-transform: uppercase;
  color: var(--color-dark-brown);
}

.profile-about h1 {
  font-family: var(--card-title-font-family);
  font-weight: 400;
  color: var(--color-dark-brown);
  font-size: 2.75rem;
}

.profile-bio {
  font-family: var(--card-title-font-family);
  color: var(--color-dark-brown);
  font-size: 1rem;
}

.profile-image {
  height: 39rem;
  width: 39rem;
}

.profile-image-link {
  /* height: 10rem; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* only show one line of text */
.one-line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.modal-title {
  font-family: var(--card-title-font-family);
  color: var(--bg-color-dark-green);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;
}

.modal-header,
.modal-footer {
  border: 0;
}

.modal-body label {
  font-family: var(--card-title-font-family);
  color: var(--bg-color-dark-green);
  text-transform: capitalize;
  font-size: 1rem;
  margin-bottom: 0.75rem;
  margin-top: 0.75rem;
}

.modal input::placeholder {
  color: var(--bg-color-light-green);
}

.modal input {
  color: var(--bg-color-dark-green);
}

.modal textarea::placeholder {
  color: var(--bg-color-light-green);
}

.modal textarea {
  color: var(--bg-color-dark-green);
}

.order-history-card {
  padding-left: 0;
  padding-right: 0;
}

.order-history-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.history-img-container {
  height: 9rem;
}

.order-history h1 {
  font-family: var(--card-title-font-family);
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--color-dark-brown);
}

.order-history-text {
  color: var(--color-dark-brown);
  font-weight: 700;
  font-size: 1.25rem;
}

.order-history-text h4 {
  color: var(--bg-color-dark-green);
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1.25rem;
}

.order-history-text h5 {
  color: var(--bg-color-dark-green);
  font-weight: 600;
  text-transform: capitalize;
  font-size: 1rem;
}

.order-history-text p {
  color: var(--bg-color-dark-green);
  font-weight: 300;
  text-transform: capitalize;
  font-size: 1rem;
}

.order-status-btn {
  background-color: var(--color-dark-brown);
  border-color: var(--color-dark-brown);
}

.order-history-text select {
  color: var(--bg-color-dark-green);
  font-weight: 600;
  font-size: 1rem;
}

.product-inventory h1 {
  font-family: var(--card-title-font-family);
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--color-dark-brown);
}

#createProductModal h3 {
  font-family: var(--card-title-font-family);
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--bg-color-dark-green);
  margin-top: 1rem;
}

.product-card-img {
  /* width: 100%; */
  height: 15rem;
  object-fit: cover;
}

.product-details p {
  margin: 0.5rem 0.5rem 0 0;
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.product-details h6 {
  font-size: 1rem;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}

.product-details strong {
  font-family: var(--card-title-font-family);
  font-size: 1rem;
  font-weight: 400;
}

.dropdown button {
  background-color: var(--color-dark-brown);
  border-color: var(--color-dark-brown);
}

.cart-product-name {
  font-family: var(--card-title-font-family);
  color: var(--bg-color-dark-green);
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: capitalize;
}

.cart-product-description {
  color: var(--bg-color-dark-green);
  font-weight: 300;
  text-transform: capitalize;
  font-size: 1rem;
  line-height: 150%;
}

.cart-product-list span {
  font-family: var(--card-title-font-family);
  color: var(--bg-color-dark-green);
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
}

.cart-price h3 {
  font-family: var(--card-title-font-family);
  color: var(--bg-color-dark-green);
  font-weight: 600;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.cart-price h4 {
  font-family: var(--card-title-font-family);
  color: var(--bg-color-dark-green);
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
}

.cart-empty {
  font-family: var(--card-title-font-family);
  color: var(--bg-color-dark-green);
  font-weight: 600;
  font-size: 1.25rem;
  text-transform: uppercase;
}

.profile-image-other img {
  cursor: initial;
  width: 100%;
  height: 100%;
  object-fit: cover;
}